In [3]:
import pandas as pd
import sqlite3
import csv

In [4]:
conn = sqlite3.connect('database.db')

In [5]:
abusive = pd.read_csv('D:/##Widya/DSC_Gold_Challenge/abusive.csv')
abusive = pd.DataFrame.from_dict(abusive)

In [6]:
abusive.to_sql('abusive',conn,if_exists='replace',index=False)
abusive=pd.DataFrame(abusive)
abusive

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

In [7]:
kamus_alay = pd.read_csv("D:/##Widya/DSC_Gold_Challenge/kamus_alay.csv", encoding='latin-1')
df = pd.DataFrame.from_dict(kamus_alay)

In [8]:
kamus_alay.to_sql('kamus_alay',conn,if_exists='replace',index=False)
kamus_alay=pd.DataFrame(kamus_alay)
kamus_alay

      anakjakartaasikasik           anak jakarta asyik asyik
0            pakcikdahtua                  pak cik sudah tua
1          pakcikmudalagi                  pak cik muda lagi
2             t3tapjokowi                       tetap jokowi
3                      3x                          tiga kali
4                  aamiin                               amin
...                   ...                                ...
15161           mendikbud  menteri pendidikan dan kebudayaan
15162              mendag                menteri perdagangan
15163             menaker               menteri tenaga kerja
15164            memetwit                            mentwit
15165            megangin                           memegang

[15166 rows x 2 columns]

In [9]:
conn.commit()
conn.close()